@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "myfont-NotoSan-r";
  src: url(./font/noto-sans-jp/NotoSansJP-Regular.otf) format("opentype");  
}

@font-face {
  font-family: "myfont-josefin";
  src: url(./font/josefin-sans/JosefinSans-Bold.ttf) format("opentype");  
}

h3,
h2,
p,
a,
.sub_title,
.text_box h1,
.contact h1{
  font-family: "myfont-NotoSan-r",sans-serif;
  color: #4A4A4A;

}

p,
h3{
  line-height: 2.5rem;
}


.title{
  font-family: "myfont-josefin" ,serif;
  color: #4A4A4A;
}

p {
  padding: 0;
}

a {
  text-decoration: none;
}

#about,
#course {
  padding: 100px 0;
}

#location{
  padding-bottom: 100px;
}

li {
  list-style-type: none;
}

body {
  background-image: linear-gradient(90deg, rgba(144, 245, 154, .1), rgba(4, 202, 255, 1));
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}


header {
  background-color: #fff;
}

.responsive_br {
  display: none;
}

.loading {
  width: 100vw;
  height: 100vh;
  transition: all 1.5s;
  background: rgb(56, 89, 170);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* アニメーション */
.snipper img {
  display: block;
  width: 200px;
  margin: 40vh auto;
  animation: scaleOut 2.5s infinite ease-in-out;
}

@keyframes scaleOut {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/* ナビゲーション */
.openbtn {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background: rgb(56, 89, 170);
  position: fixed;
  top: 3vh;
  right: 3vh;
  z-index: 999;
}

.openbtn span {
  display: inline-block;
  width: 60%;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.openbtn span:nth-child(1) {
  top: 12px;
}


.openbtn span:nth-child(2) {
  top: 24px;
}

.openbtn span:nth-child(3) {
  top: 36px;
}

.active span:nth-child(1) {
  transform: translateY(6px) rotate(-45deg);
  width: 100%;
  top: 18px;
  left: 0;
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  transform: translateY(-6px) rotate(45deg);
  width: 100%;
  left: 0;
}

.active span:nth-child(1) {
  transform: translateY(6px) rotate(-45deg);
  width: 100%;
  top: 18px;
  left: 0;
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
  width: 100%;
  left: 0;
}


nav {
  background: rgb(56, 89, 170);
  position: fixed;
  right: -100vw;
  height: 100vh;
  transition: all 0.5s;
  z-index: 998;
}

nav ul {
  color: #fff;
  padding: 100px 50px;
}

.li-hover{
  list-style-type: none;
  margin: 10vh 0;
}

nav ul li a {
  color: #fff;
  transition: color 1s;
}

.li-hover{
  position: relative;
  /* display: inline-block; */
}

.li-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* 線の太さを調整する場合はここの値を変更 */
  background-color: white; /* 白色の線を描画 */
  transform: scaleX(0); /* 初期状態では横幅0にする */
  transform-origin: left;
  transition: transform 0.3s ease; /* 変化をスムーズにする */
}

nav ul li:hover::after {
  transform: scaleX(1); /* HOVER時に横幅を100%にする */
}

/* nav active */

.nav_active {
  right: 0;
}

/* .nav_active_bg{
    background: #fff;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
} */


.mainvisual {
  width: 100%;
  height: 70vh;
  position: relative;
  top: 0;
  left: 0;
}

.pc {
  height: 70vh;
  width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  display: block !important;
}

.responsive_image {
  height: 70vh;
  width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  display: none !important;
  margin-top: 100px;
}

.responsive_image2 {
  height: 70vh;
  width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  display: none !important;
  margin-top: 100px;
}

@media only screen and (max-width: 450px) {
  .pc {
    display: none !important;
  }

  .responsive_image {
    display: block !important;
  }
}

/*==================================
スライダーのためのcss
===================================*/
.slider img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: auto;
}

.slider .slick-slide {
  margin: 0 -10px;
  /* / スライド左右の余白調整 */
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* about */

#about {
  margin: 0 12vw;
}

.about_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.logo {
  background: url(./img/about_logo-02.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 400px;
  padding-left: 100px;
}

.text_box {
  padding: 15vh 11vw 15vh 7vw;
}

.text_box h1 {
  font-size: 2.5rem;
  background: rgb(56, 89, 170);
  color: #fff;
  margin-bottom: 10px;
  padding-left: 10px;
}

.about_area h3 {
  text-align: justify;
  font-weight: bold;
}

/* サポート体制 */
.support_area {
  padding: 50px 0 30px 0;
}

.support_area h1 {
  background: rgb(56, 89, 170);
  color: #fff;
  text-align: center;
  display: block;
  margin: 30px auto;
  font-size: 2.5rem;
  font-family: "myfont-josefin" ,serif;
}

.support_area h3 {
  text-align: center;
  line-height: 2rem;
  background: 5px solid rgba(56, 89, 170, .5);
  font-size: 1.2rem;
}

.anime_area {
  display: flex;
  justify-content: center;
  width: 100%;
}

.skeleton2 {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.box {
  width: 300px;
  margin: 0 32px;
}

.box h2 {
  border-bottom: 5px solid rgba(56, 89, 170, .5);
}

.box p {
  text-align: justify;
  padding-top: 20px;
}

/* サポート体制 アニメーション */

@keyframes reveal-image {
  from {
    clip-path: inset(20% round 10%);
  }

  to {
    clip-path: inset(3% round 3%);
  }
}

.animationElement {
  /* スクロールアニメーションの設定 */
  animation: reveal-image linear both;
  /* アニメーションを指定。イージングはlinear。animation-fill-modeはboth */
  animation-timeline: view();
  animation-range: contain 20% contain 60%;
  /* 開始: 要素がビューポートに完全に入った時、終了: ビューポートの真ん中 */
}

/* 学科紹介 */

#course {
  background: #fff;
}

.course_logo {
  background: url(./img/course_logo-03.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 80px;
  margin: 0 auto 10vh;
}


.design_area {
  margin: 100px 5%;
}

.design {
  display: flex;
  width: 100%;
}

.d-box h3 {
  letter-spacing: 1rem;
  padding-bottom: 100px;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  line-height: 0.9;
  padding-left: 5%;
  color: #ababab;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.title-w{
  text-align: end;
  padding-right: 5%;
}

.sub_title {
  font-size: 2rem;
  border-bottom: solid 1px #4A4A4A;
  padding:30px 0;
}

.d-box p {
  text-align: justify;
  padding: 30px 0;
  line-height: 2.5rem;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
  margin: 0 auto;
  padding: 20px 0px;
  font-weight: bold;
  background: #4A4A4A;
  color: #fff;
  width: 20vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.more::after{
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.more:hover{
  color: #4A4A4A;
  border: solid 1px #4A4A4A;
}

.more:hover::after{
  transform: scale(1, 1);
}

.d-box {
  padding: 40px 60px;
}


.img_f,
.img_p,
.img_d,
.d-box  {
  width: 50%;
}

.img_f {
  background: url(./img/course_frontend.jpg);
  background-size: cover;
  margin-left: 60px;
  position: relative;
}

.img_p {
  background: url(./img/course_pc.jpg);
  background-size: cover;
  margin-right: 60px;
  position: relative;
}

.img_d {
  background: url(./img/course_web.jpg);
  background-size: cover;
  margin-left: 60px;
  position: relative;
}

.kazari-box{
  width: 200px;
  height: 100px;
  background: #ababab;
  position: absolute;
  top: 376px;
  right: -66px;
  opacity: .5;
}

.kazari-box2{
  width: 200px;
  height: 100px;
  background: #ababab;
  position: absolute;
  top: 376px;
  left: -66px;
  opacity: .3;
}

/* .fadeUp クラスにフェードインのアニメーションを適用 */
.fadeUp {
  animation:fadeIn 1s ease-in;
}

/* フェードインのアニメーションを定義 */
@keyframes fadeIn {
  from {
  opacity: 0;
  transform: translateX(-100px);
  }

  to {
  opacity: 1;
  transform: translateX(0);
  }
}



.jump {
  height: 1px;
  display: block;
  margin-top: 80px;
  padding-top: -80px;
  transform: translateY(-200px);
}

.link_area {
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.link a {
  width: 300px;
  padding: 10px;
  /* background-color: rgb(56, 89, 170); */
  color: #4A4A4A;
  text-align: center;
  transition: background-color 1s;
  transition: color 1s;
  border: solid 1px #4A4A4A;
}

.link a:hover {
  background-color: #fff;
  color: #4A4A4A;
}

/* locaton */
/* Google Mapを囲う要素 */
.map-wrap {
  max-width: 100%;
  margin: 0 auto;
}

.map {
  position: relative;
  padding-top: 440px;
}

/* Google Mapのiframe */
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact {
  margin-top: 50px;
  text-align: center;
}

.contact p,
.contact h1 {
  margin-bottom: 10px;
  font-weight: bold;
}


.contact h1 {
  font-size: 2rem;
}

.gazo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bunner {
  width: 300px;
}

.qr-set{
  display: flex;
  margin-top: 30px;
}

.pagetop {
  height: 100px;
  width: 100px;
  position: fixed;
  right: 200px;
  bottom: 200px;
  background: #fff;
  border: solid 2px #000;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: pointer;
}

.pagetop__arrow {
  display: block;
  height: 10px;
  width: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: translateY(20%) rotate(-45deg);
}


/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background: rgb(56, 89, 170);
}

.footer_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  width: 200px;
}

small {
  color: #fff;
  margin-left: 5vw;
}

/* レスポンシブ対応 */
@media screen and (min-width:350px) and (max-width:860px) {

  /* 基本設定 */
  #about {
    margin: 0vh 10vw
  }

  .about_area .logo {
    display: none;
  }


  section {
    padding: 30px 0;
  }

  h1 {
    font-size: 2rem;
  }


  .responsive_br {
    display: flex;
  }

  nav ul {
    width: 100vw;
    text-align: center;
    padding: 50px 50px;
  }

  nav ul li {
    margin: 6vh 0;
  }


  .text_box {
    margin: 0 auto;
    padding: 5vh 5vw;
  }

  .text_box h1 {
    font-size: 1.5rem;
    color: rgb(56, 89, 170);
    background: #fff;
    margin-bottom: 10px;
  }



  /* アニメーション */
  .snipper img {
    width: 200px;
    margin: 30vh auto;
    animation: scaleOut 2.5s infinite ease-in-out;
  }

  .more {
    display: inline;
    justify-content: center;
    transition: background-color 1s;
    margin: 0 0px;
    padding: 5px 10px;
    font-weight: bold;
    border-bottom: 2px solid rgb(56, 89, 170);
  }



  /* サポートエリア */
  .box {
    margin: 2vh 0;
  }

  .skeleton2 {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
  }


  .support_area {
    padding: 0;
  }

  .support_area h3 {
    line-height: 1.5rem;
    font-size: 1rem;
  }

  /*学科紹介  */
  #course {
    margin: 0 auto;
    text-align: center;
    padding: 4vh 0;
  }

  .course_logo {
    width: 60%;
    margin: 0 auto 10px;
  }


  .content-box ul {
    column-count: 2;
  }

  .content-box ul li {
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
  }

  .design {
    display: flex;
    flex-direction: column;
  }

  .design_area {
    margin-bottom: 30px;
  }

  .d-box{
    padding: 0;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }


  .img-common {
    margin: 5vh 0;
    width: 175px;
    height: 275px;
  }

  .content-box {
    justify-content: center;
  }

.title {
  font-size: 4rem;
  font-weight: bold;
  line-height: 0.9;
  padding-left: 0;
  color: #ababab;
  margin-bottom: 10px;
  letter-spacing: -1px;
  text-align: center;
}

  .sub_title {
    font-size: 2rem;
  }

  .kazari-box2,
  .kazari-box{
    opacity: 0;
  }

  .link {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .link a {
    margin-bottom: 5vh;
  }

  .img_f,
  .img_p,
  .img_d,
  .d-box  {
    width: 100%;
  }
  
  .img_f {
    background: url(./img/course_frontend.jpg);
    background-size: cover;
    margin-left: 0;
    position: relative;
    height: 200px;
  }
  
  .img_p {
    background: url(./img/course_pc.jpg);
    background-size: cover;
    margin-right: 0;
    position: relative;
    height: 200px;
  }
  
  .img_d {
    background: url(./img/course_web.jpg);
    background-size: cover;
    margin-left: 0;
    position: relative;
    height: 200px;
  }

  /* コースエリア */
  .title {
    font-size: 3rem;
  }



  /* locatuon */
  .map-wrap {
    max-width: 80%;
    margin: 0 auto;
  }

  .d-box {
    width: 80%;
    margin: 0 auto;
  }

  .gazo {
    width: 80%;
    margin: 0 auto;
  }

  .gazo img {
    width: 120%;
  }

  .qr-set img {
    width: 100%;
  }


  .qr-set{
    display:flex;
    flex-direction: column;
  }

  .more {
    display: inline;
    justify-content: center;
    transition: background-color 1s;
    /* margin: 0 0px; */
    padding: 20px 10px;
    font-weight: bold;
    border-bottom: 2px solid rgb(56, 89, 170);
    width: 100%;
    margin-top: 20px;
}

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background: rgb(56, 89, 170);
  }


  .footer img {
    width: 100px;
  }

  small {
    font-size: 0.6rem;
  }
}

@media screen and (min-width:300px) and (max-width:350px) {


  .img_d,
  .img_f,
  .img_p {
    display: none;
    width: 100px;
    height: 300px;
  }

  h1,
  h3,
  h2,
  p,
  a,
  dt,
  dd {
    font-size: 0.6rem;
  }

  .text_box h1 {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1rem;
  }

  #about {
    margin: 0vh 10vw
  }

  .about_area .logo {
    display: none;
  }


  section {
    padding: 10px 0;
  }

  .logo {
    width: 150px;
    height: 200px;
    padding-left: 30px;
  }

  .text_box {
    padding: 20px;
  }

  .skeleton2 {
    display: table-column;
  }


  .gazo img {
    width: 100%;
  }

  .box {
    width: 150px;
    margin: 0 10px;
  }

  .box img {
    width: 150px;
    height: 150px;
  }


  .content-box ul {
    column-count: 2;
  }

  .d-box {
    width: 100%;
  }

  .course_logo {
    width: 70%;
  }

  
.design {
  display: inline;
}

.content-box li{
  width: 100px;
}

.design_area{
  margin-bottom: 30px;
}

.link a{
  margin: 10px;
}

}